@page "/fafsa-ai"
@using finaid.Services.Forms
@using finaid.Services.Knowledge
@inject IFormAssistanceService FormAssistanceService
@rendermode InteractiveServer

<PageTitle>FAFSA Form with AI Assistant</PageTitle>

<div class="container-fluid">
    <IntelligentFormAssistant FormTitle="Free Application for Federal Student Aid (FAFSA)"
                             FormDescription="Complete your FAFSA with AI-powered assistance to maximize your financial aid opportunities."
                             FormType="FAFSA"
                             FormContext="@formData"
                             EnableAIAssistance="true"
                             ReviewGenerated="OnReviewGenerated"
                             ProgressChanged="OnProgressChanged">
        
        <FormSectionWithAI SectionTitle="Student Information"
                          SectionDescription="Basic information about the student applying for financial aid"
                          SectionId="student-info"
                          FormContext="@formData"
                          EnableAIAssistance="true"
                          ProgressChanged="OnSectionProgressChanged">
            
            <div class="row">
                <div class="col-md-6">
                    <SmartFormField Label="First Name"
                                  FieldType="text"
                                  Value="@formData.StudentFirstName"
                                  ValueChanged="@(value => formData.StudentFirstName = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  Placeholder="Enter your first name"
                                  EnableAI="true" />
                </div>
                <div class="col-md-6">
                    <SmartFormField Label="Last Name"
                                  FieldType="text"
                                  Value="@formData.StudentLastName"
                                  ValueChanged="@(value => formData.StudentLastName = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  Placeholder="Enter your last name"
                                  EnableAI="true" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <SmartFormField Label="Date of Birth"
                                  FieldType="date"
                                  Value="@formData.DateOfBirth"
                                  ValueChanged="@(value => formData.DateOfBirth = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  EnableAI="true" />
                </div>
                <div class="col-md-6">
                    <SmartFormField Label="Social Security Number"
                                  FieldType="text"
                                  Value="@formData.SSN"
                                  ValueChanged="@(value => formData.SSN = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  Placeholder="xxx-xx-xxxx"
                                  EnableAI="true" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <SmartFormField Label="Email Address"
                                  FieldType="email"
                                  Value="@formData.EmailAddress"
                                  ValueChanged="@(value => formData.EmailAddress = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  Placeholder="your.email@example.com"
                                  EnableAI="true" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <SmartFormField Label="Phone Number"
                                  FieldType="tel"
                                  Value="@formData.PhoneNumber"
                                  ValueChanged="@(value => formData.PhoneNumber = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  Placeholder="(xxx) xxx-xxxx"
                                  EnableAI="true" />
                </div>
                <div class="col-md-6">
                    <SmartFormField Label="Marital Status"
                                  FieldType="select"
                                  Value="@formData.MaritalStatus"
                                  ValueChanged="@(value => formData.MaritalStatus = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  Placeholder="Select marital status"
                                  Options="@maritalStatusOptions"
                                  EnableAI="true" />
                </div>
            </div>
        </FormSectionWithAI>

        <FormSectionWithAI SectionTitle="School and Academic Information"
                          SectionDescription="Information about your college or university and academic plans"
                          SectionId="school-info"
                          FormContext="@formData"
                          EnableAIAssistance="true">
            
            <div class="row">
                <div class="col-md-8">
                    <SmartFormField Label="College or University Name"
                                  FieldType="text"
                                  Value="@formData.CollegeName"
                                  ValueChanged="@(value => formData.CollegeName = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  Placeholder="Enter your school name"
                                  EnableAI="true" />
                </div>
                <div class="col-md-4">
                    <SmartFormField Label="Federal School Code"
                                  FieldType="text"
                                  Value="@formData.SchoolCode"
                                  ValueChanged="@(value => formData.SchoolCode = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  Placeholder="6-digit code"
                                  EnableAI="true" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <SmartFormField Label="Grade Level"
                                  FieldType="select"
                                  Value="@formData.GradeLevel"
                                  ValueChanged="@(value => formData.GradeLevel = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  Placeholder="Select grade level"
                                  Options="@gradeLevelOptions"
                                  EnableAI="true" />
                </div>
                <div class="col-md-6">
                    <SmartFormField Label="Expected Graduation Date"
                                  FieldType="month"
                                  Value="@formData.ExpectedGraduation"
                                  ValueChanged="@(value => formData.ExpectedGraduation = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  EnableAI="true" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <SmartFormField Label="Degree Type"
                                  FieldType="select"
                                  Value="@formData.DegreeType"
                                  ValueChanged="@(value => formData.DegreeType = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  Placeholder="Select degree type"
                                  Options="@degreeTypeOptions"
                                  EnableAI="true" />
                </div>
            </div>
        </FormSectionWithAI>

        <FormSectionWithAI SectionTitle="Financial Information"
                          SectionDescription="Student and family income and asset information"
                          SectionId="financial-info"
                          FormContext="@formData"
                          EnableAIAssistance="true">
            
            <div class="row">
                <div class="col-md-6">
                    <SmartFormField Label="Student Annual Income"
                                  FieldType="number"
                                  Value="@formData.StudentIncome"
                                  ValueChanged="@(value => formData.StudentIncome = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  Placeholder="0"
                                  EnableAI="true" />
                </div>
                <div class="col-md-6">
                    <SmartFormField Label="Student Tax Filing Status"
                                  FieldType="select"
                                  Value="@formData.TaxFilingStatus"
                                  ValueChanged="@(value => formData.TaxFilingStatus = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  Placeholder="Select filing status"
                                  Options="@taxFilingStatusOptions"
                                  EnableAI="true" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <SmartFormField Label="Parent 1 Annual Income"
                                  FieldType="number"
                                  Value="@formData.Parent1Income"
                                  ValueChanged="@(value => formData.Parent1Income = value)"
                                  FormContext="@formData"
                                  IsRequired="false"
                                  Placeholder="0"
                                  EnableAI="true" />
                </div>
                <div class="col-md-6">
                    <SmartFormField Label="Parent 2 Annual Income"
                                  FieldType="number"
                                  Value="@formData.Parent2Income"
                                  ValueChanged="@(value => formData.Parent2Income = value)"
                                  FormContext="@formData"
                                  IsRequired="false"
                                  Placeholder="0"
                                  EnableAI="true" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <SmartFormField Label="Dependency Status"
                                  FieldType="select"
                                  Value="@formData.DependencyStatus"
                                  ValueChanged="@(value => formData.DependencyStatus = value)"
                                  FormContext="@formData"
                                  IsRequired="true"
                                  Placeholder="Select dependency status"
                                  Options="@dependencyStatusOptions"
                                  EnableAI="true" />
                </div>
            </div>
        </FormSectionWithAI>

        <div class="form-actions mt-4">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-outline-secondary w-100">
                        <i class="bi bi-save"></i>
                        Save Progress
                    </button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary w-100" @onclick="SubmitForm">
                        <i class="bi bi-send"></i>
                        Submit FAFSA
                    </button>
                </div>
            </div>
        </div>
    </IntelligentFormAssistant>
</div>

@code {
    private FAFSAFormData formData = new();
    private List<SmartFormField.SelectOption> maritalStatusOptions = new();
    private List<SmartFormField.SelectOption> gradeLevelOptions = new();
    private List<SmartFormField.SelectOption> degreeTypeOptions = new();
    private List<SmartFormField.SelectOption> taxFilingStatusOptions = new();
    private List<SmartFormField.SelectOption> dependencyStatusOptions = new();

    protected override void OnInitialized()
    {
        InitializeSelectOptions();
    }

    private void InitializeSelectOptions()
    {
        maritalStatusOptions = new List<SmartFormField.SelectOption>
        {
            new() { Value = "single", Text = "Single" },
            new() { Value = "married", Text = "Married/Remarried" },
            new() { Value = "divorced", Text = "Divorced/Separated" },
            new() { Value = "widowed", Text = "Widowed" }
        };

        gradeLevelOptions = new List<SmartFormField.SelectOption>
        {
            new() { Value = "freshman", Text = "1st year undergraduate" },
            new() { Value = "sophomore", Text = "2nd year undergraduate" },
            new() { Value = "junior", Text = "3rd year undergraduate" },
            new() { Value = "senior", Text = "4th year undergraduate" },
            new() { Value = "5th-year", Text = "5th year/other undergraduate" },
            new() { Value = "graduate", Text = "Graduate or professional student" }
        };

        degreeTypeOptions = new List<SmartFormField.SelectOption>
        {
            new() { Value = "bachelor", Text = "Bachelor's degree" },
            new() { Value = "associate", Text = "Associate degree" },
            new() { Value = "certificate", Text = "Certificate/diploma" },
            new() { Value = "master", Text = "Master's degree" },
            new() { Value = "doctoral", Text = "Doctoral degree" },
            new() { Value = "professional", Text = "Professional degree" }
        };

        taxFilingStatusOptions = new List<SmartFormField.SelectOption>
        {
            new() { Value = "not-filed", Text = "Will not file" },
            new() { Value = "already-completed", Text = "Already completed" },
            new() { Value = "will-file", Text = "Will file" }
        };

        dependencyStatusOptions = new List<SmartFormField.SelectOption>
        {
            new() { Value = "dependent", Text = "Dependent" },
            new() { Value = "independent", Text = "Independent" }
        };
    }

    private void OnReviewGenerated(FormReviewSummary review)
    {
        // Handle the generated review
        // This could update UI state, show notifications, etc.
    }

    private void OnProgressChanged(double progress)
    {
        // Handle overall progress changes
        // This could update a progress indicator, save state, etc.
    }

    private void OnSectionProgressChanged(double sectionProgress)
    {
        // Handle section-specific progress changes
    }

    private async Task SubmitForm()
    {
        // In a real implementation, this would:
        // 1. Validate the complete form
        // 2. Generate final AI review
        // 3. Submit to FAFSA processing service
        // 4. Handle success/error responses
        
        // For now, just show a simple alert
        await Task.Delay(100); // Simulate processing
        // You would typically show a success message or redirect
    }

    public class FAFSAFormData
    {
        public string StudentFirstName { get; set; } = string.Empty;
        public string StudentLastName { get; set; } = string.Empty;
        public string DateOfBirth { get; set; } = string.Empty;
        public string SSN { get; set; } = string.Empty;
        public string EmailAddress { get; set; } = string.Empty;
        public string PhoneNumber { get; set; } = string.Empty;
        public string MaritalStatus { get; set; } = string.Empty;
        
        public string CollegeName { get; set; } = string.Empty;
        public string SchoolCode { get; set; } = string.Empty;
        public string GradeLevel { get; set; } = string.Empty;
        public string ExpectedGraduation { get; set; } = string.Empty;
        public string DegreeType { get; set; } = string.Empty;
        
        public string StudentIncome { get; set; } = string.Empty;
        public string TaxFilingStatus { get; set; } = string.Empty;
        public string Parent1Income { get; set; } = string.Empty;
        public string Parent2Income { get; set; } = string.Empty;
        public string DependencyStatus { get; set; } = string.Empty;
    }
}